<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
<link rel="stylesheet" href="/s/style.css">
<meta title="IMAF?">
</head>
<body>
<div class="main">
<div class="content">
<form class="pure-form" action="/submit" method="post">
    <fieldset>
        <input type="text" name="address" placeholder="Address" size=48 />
        <button type="submit" class="pure-button pure-button-primary">Well Is it?</button>
    </fieldset>
</form>
</div>
</div>
</body>
</html>
