<!doctype html>
<html>
<head>
<meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<link rel="stylesheet" href="/s/style.css">
<meta title="IMAF?">
</head>
<body>
<div class="main">
<div class="content">
<div class="container-fluid">

<div class="card address-card">
  <div class="card-body">
    <h5 class="card-title">IMAF detector</h5>
    <p class="card-text">

    <form action="/submit" method="post">
        <div class="mb-3">
            <label for="addrfield" class="form-label">Wallet address</label>
            <input id="addrfield" type="text" class="form-control" name="address" placeholder="Address" />
            <div id="addrHelp" class="form-text">Enter your complete bech32 wallet address</div>
          </div>
      	<button type="submit" class="btn btn-primary">Is it?</button>
    </form>
    </p>

  </div>
</div>


</div>
</div>
</div>
</body>
</html>
